<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoadItemServlet</servlet-name>
        <servlet-class>controllers.LoadItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadFaqServlet</servlet-name>
        <servlet-class>controllers.LoadFaqServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>controllers.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditItemServlet</servlet-name>
        <servlet-class>controllers.EditItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItemServlet</servlet-name>
        <servlet-class>controllers.DeleteItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateItemServlet</servlet-name>
        <servlet-class>controllers.CreateItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadItemServlet</servlet-name>
        <url-pattern>/LoadItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadFaqServlet</servlet-name>
        <url-pattern>/LoadFaqServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditItemServlet</servlet-name>
        <url-pattern>/EditItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItemServlet</servlet-name>
        <url-pattern>/DeleteItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateItemServlet</servlet-name>
        <url-pattern>/CreateItemServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainServlet</welcome-file>
    </welcome-file-list>
</web-app>
