/Demo6_7/nbproject/private/
/Demo6_7/build/
/demo8/nbproject/private/
/demo8/build/
/Review1/nbproject/private/
/Review1/build/
/Review1/dist/
/review2/nbproject/private/
/workshop1/dist/
/workshop1_plus/build/
/WebApplication1/nbproject/private/
/WorkShop2/nbproject/private/
/WorkShop2/build/
/WorkShop2/dist/
/Assignment_PRJ/nbproject/private/
/Assignment_PRJ/dist/
/Assignment_PRJ/build/
/Assiment/nbproject/private/
/Assiment/build/
/Assiment/dist/